@{
    Layout = "_LayoutAdmin";
}
@model List<Order>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fruitables - Vegetable Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Single Page Header start -->
    <div class="container-fluid page-header">
    </div>
    <!-- Single Page Header End -->
    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">OrderId</th>
                            <th scope="col">Date</th>
                            <th scope="col">PayMethod</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var order in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 mt-4">@order.OrderId</p>
                                        </div>
                                    </th>
                                    <td>
                                        <p class="mb-0 mt-4">@order.DateTime</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@order.Total vnđ</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@order.Payment </p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@order.Status </p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@order.Total</p>
                                    </td>
                                    <td>
                                        <form method="post" asp-controller="Order" asp-action="ChangeStatus">
                                            <input type="hidden" name="OrderId" value="@order.OrderId" />
                                            <select name="status" class="form-control">
                                                <option value="Confirmed">Confirm</option>
                                                <option value="Delivering">Deliver</option>
                                                <option value="Claimed">Done</option>
                                                <option value="Cancel">Cancel</option>
                                            </select>
                                        <button class="btn btn-primary" type="submit">Do it</button>
                                     </form>
                                    </td>
                                    <td>
                                        <a asp-controller="Order" asp-action="Detail" asp-route-OrderId="@order.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                            View
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Cart Page End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

</body>

</html>