@using EmpressOfLight.Models.ViewModels
@model ProductDetail

<table class="table">
    <thead>
        <tr>
            <th scope="col">Size Id</th>
            <th scope="col">Size Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"><a class="btn btn-primary">Add</a></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var s in Model.Sizes)
            {
                <tr>
                    <th scope="row">@s.SizeId</th>
                    <td>@s.SizeName</td>
                    <td>@s.Price</td>
                    <td>@s.Quantity</td>
                    <td><a asp-controller="Product" asp-action="DeleteSize" asp-route-sizeid="@s.SizeId" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        }
        <tr>
            <form method="post" asp-controller="Product" asp-action="AddNewSize">
                <input type="hidden" name="productid" value="@Model.Product.ProductId" />
            <th scope="row">####</th>
            <td><input type="text" name="sizename" required /></td>
            <td><input type="number" name="price" required /></td>
            <td><input type="number" name="quantity" required /></td>
            <td><button type="submit" class="btn btn-primary">Add</button></td>
            </form>
        </tr>

    </tbody>
</table>
<form enctype="multipart/form-data" asp-action="EditProduct" asp-controller="Product" method="post">
    <input type="hidden" name="ProductId" value="@Model.Product.ProductId"/>
    <div class="form-group">
        <img src="@Model.Product.ProductImgPreview" style="width: 100px; height: 100px;" />
        <label for="exampleFormControlFile1"></label>
        <input name="formFile" type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input name="ProductName" type="text" class="form-control" id="exampleFormControlInput1" value="@Model.Product.ProductName">
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input name="Quantity" type="number" class="form-control" id="quantity" placeholder="Quantity" value="@Model.Product.Quantity">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input name="PricePreview" type="number" class="form-control" id="price" placeholder="price" value="@Model.Product.PricePreview">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Category select</label>
        <select name="CategoryId" class="form-control" id="exampleFormControlSelect1">
            @{
                foreach(var cat in Model.Categories)
                {
                    <option value="@cat.CategoryId">@cat.CategoryName</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Short Description</label>
        <textarea name="ShortDescription" class="form-control" id="exampleFormControlTextarea1" rows="3">@Model.Product.ShortDescription</textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea2">Description</label>
        <textarea name="Description" class="form-control" id="exampleFormControlTextarea2" rows="3">@Model.Product.Description</textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Save Product</button>
</form>